/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #e8f9da;
  color: #333;
  line-height: 1.6;
}

/* Cabecera */
/* Fondo para el header */
header {
  background-image: url("../assets/images/header-background.png"); /* Ruta de la imagen */
  background-size: cover; /* Escala la imagen para cubrir el área */
  background-position: center; /* Centra la imagen */
  color: white;
  padding: 20px;
  text-align: center;
  border-bottom: 4px solid #3daf20;
  border-radius: 0 0 15px 15px; /* Bordes redondeados solo en la parte inferior */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra para resaltar el header */
}

header h1 {
  font-size: 2.5em;
  margin: 0;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Sombra en el texto para mejor visibilidad */
  color: #dddf62;
  -webkit-text-stroke: 1px black; /* Borde fino negro */
}

nav {
  margin-top: 10px;
}

.guide-link {
  display: inline-block;
  padding: 10px 15px;
  background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */
  color: #3daf20;
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
  border: 2px solid #3daf20;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.guide-link:hover {
  background-color: #20690d;
  color: white;
}
/* Secciones */
main {
  padding: 30px 10%;
}

section {
  margin-bottom: 40px;
}

h2 {
  font-size: 2em;
  color: #3daf20;
  margin-bottom: 15px;
  text-align: center;
}

/* Sección de Ingredientes */
#ingredients {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#ingredients-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#ingredient-input {
  padding: 10px;
  font-size: 1em;
  width: 60%;
  margin-bottom: 10px;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
}

#add-ingredient-btn {
  padding: 10px 20px;
  background-color: #3daf20;
  color: white;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#add-ingredient-btn:hover {
  background-color: #20690d;
}

#ingredient-list {
  list-style-type: none;
  margin-top: 20px;
}

#ingredient-list li {
  padding: 8px;
  background-color: #b4dde7;
  margin-bottom: 10px;
  border-radius: 5px;
  text-align: center;
  font-size: 1.1em;
}

/* Sección del Calendario */
#calendar {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#weekly-calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 15px;
  margin-top: 20px;
}

.day {
  background-color: #ecf0f1;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.day h3 {
  font-size: 1.5em;
  color: #3daf20;
  margin-bottom: 10px;
}

/* Estilos para los ingredientes arrastrados y soltados */
.dropped-item {
  background-color: #f39c12; /* Un color cálido para destacarlos */
  border: 2px solid #e67e22; /* Un borde más destacado */
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 5px;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidad */
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out; /* Transición suave */
}
/* Transición suave cuando se arrastra un ingrediente */
.dropzone {
  min-height: 80px;
  background-color: #fff;
  border: 2px dashed #bdc3c7;
  border-radius: 10px;
  margin-top: 10px;
  position: relative;
  transition: background-color 0.3s ease;
}
.dropzone.drag-over {
  background-color: #f0f0f0; /* Color de fondo de la zona cuando un ingrediente está sobre ella */
}

/* Sección de Recetas */
#recipes {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#recipe-search {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#recipe-input {
  padding: 10px;
  font-size: 1em;
  width: 60%;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
}

#search-recipe-btn {
  padding: 10px 20px;
  background-color: #3daf20;
  color: white;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.3s;
}

#search-recipe-btn:hover {
  background-color: #20690d;
}

/* Estilos para las recetas */
#recipe-results {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.recipe-item {
  background-color: #ecf0f1;
  padding: 15px;
  width: 300px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 10px;
}

.recipe-item img {
  max-width: 100%;
  border-radius: 5px;
}

.recipe-item h3 {
  font-size: 1.2em;
  color: #3daf20;
  margin: 10px 0;
}

.recipe-item button {
  background-color: #27ae60;
  color: white;
  font-size: 1em;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.recipe-item button:hover {
  background-color: #2ecc71;
}
/* Footer */
footer {
  background-color: #c0d3ba;
  color: white;
  padding: 20px;
  text-align: center;
  margin-top: 40px;
  border-top: 4px solid #3daf20;
}

footer p {
  font-size: 1.1em;
}

/* Media Queries */
@media (max-width: 768px) {
  body {
    font-size: 1em;
  }

  #ingredients-list,
  #recipe-results {
    flex-direction: column;
    align-items: center;
  }

  #weekly-calendar {
    grid-template-columns: repeat(2, 1fr);
  }

  .day {
    padding: 10px;
  }

  .dropzone {
    min-height: 50px;
  }

  .recipe-item {
    width: 100%;
  }
}

/* Estilo para el enlace de la guía en la cabecera */
/* nav {
  margin-top: 10px;
} */

.guide-link {
  display: inline-block;
  padding: 10px 15px;
  background-color: #ffffff;
  color: #3daf20;
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
  border: 2px solid #3daf20;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.guide-link:hover {
  background-color: #20690d;
  color: white;
}

.eliminarIngredientes {
  list-style-type: none;
}

#shopping-list {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 40px;
}

#shopping-list-content {
  margin: 20px 0;
  font-size: 1.1em;
  color: #333;
}

#shopping-list-actions {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

#shopping-list-actions button {
  padding: 10px 20px;
  background-color: #3daf20;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
}

#shopping-list-actions button:hover {
  background-color: #20690d;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal.hidden {
  display: none;
}

.modal-content {
  background: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  max-width: 500px;
  max-height: 80vh; /* Limitar la altura máxima del modal */
  overflow-y: auto; /* Hacer que el contenido sea desplazable */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  position: relative; /* Asegurar que el botón de cerrar se posicione correctamente */
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 1.5rem;
  color: #333;
}

.modal-content img {
  display: block; /* Centrar la imagen */
  margin: 0 auto 15px; /* Centrado horizontal con espacio inferior */
  max-width: 100%; /* Asegura que no exceda el ancho del modal */
  height: auto; /* Mantiene la proporción de la imagen */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Sombra suave */
  border: 2px solid #f2f2f2; /* Borde claro para resaltar la imagen */
}
.modal {
  overflow-y: hidden; /* Prevenir el desplazamiento del fondo mientras el modal está abierto */
}
